/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

.App {
  max-width: 80vw;
  margin-left: 10vw;
  background-color:rgb(200, 200, 200);
}

.Header {
  background-color: rgb(150, 150, 150);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.ResultBox {
  width: 70vw;
  margin: 3vw;
  margin-left: 5vw;
  background-color: rgb(125, 125, 125);
  min-height: 100px;
}

.Tracks {
  background-color: rgb(150, 150, 150);
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: row;
}

.Folder {
  background-color: rgb(125, 125, 125);
  margin: 1vw;
  min-width: 10vw;
  text-align: center;
}
.Folder li {
  margin: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
}
.TrackHolder {
  background-color: rgb(125, 125, 125);
  margin: 1vw;
  min-width: 60vw;
}
.TrackHeader {
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CurrentTracks {
  background-color: rgb(125, 125, 125);
  min-height: 30vw;
}